/************************** HTML Tags ********************************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding:20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 7px;
  width: 5%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bolder;
}

a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}
/************************** Class Tags ********************************/
.top {
  background-color: #E4F6F6;
  margin: 0;
  padding-top: 100px;
  position: relative;
  margin-bottom: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 20px;
}

.Button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight:bold;
   padding: 15px;
   background-color: #66BFBF;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin:25px auto;
}

.contact-me{
margin:100px auto;
}

.contact-message{
  width:40%;
  margin: auto;
}

.footer-link{
margin:60px 20px;
}

.java{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.profile{
  color:#40514E;
}

.programming{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.subtitle{
  font-weight: normal;
}


.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

/************************** Id Tags ********************************/
#pro {
  text-decoration: underline;
}
